cientouno-wsclient-agenciatributaria/src/main/resources/AgenciaTributariaService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/AgenciaTributariaService/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="AgenciaTributariaService" targetNamespace="http://www.example.org/AgenciaTributariaService/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/AgenciaTributariaService/">
			<xsd:element name="ConsultaIrpf">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Documento" type="xsd:string"
							maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="Nombre" type="xsd:string"
							maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="PrimerApellido" type="xsd:string"
							maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="SegundoApellido" type="xsd:string"
							maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="Ejercicio" type="xsd:integer"
							maxOccurs="1" minOccurs="1">
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="EchoToken" type="xsd:string"></xsd:attribute>
					<xsd:attribute name="TimeStamp" type="xsd:string"></xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultaIrpfResponse">
				<xsd:complexType>
					<xsd:choice>
						<xsd:sequence>
							<xsd:element name="Success" type="tns:SuccessType">
							</xsd:element>
							<xsd:element name="Warnings" type="tns:WarningsType"
								maxOccurs="1" minOccurs="0">
							</xsd:element>
							<xsd:element name="Irpf" type="tns:IrpfType"
								maxOccurs="1" minOccurs="0">
							</xsd:element>
						</xsd:sequence>
						<xsd:element name="Errors" type="tns:ErrorsType"></xsd:element>
					</xsd:choice>
					<xsd:attribute name="EchoToken" type="xsd:string"></xsd:attribute>
					<xsd:attribute name="TimeStamp" type="xsd:string"></xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="SuccessType"></xsd:complexType>
			<xsd:complexType name="WarningType">
				<xsd:sequence>
					<xsd:element name="Code" type="xsd:string" maxOccurs="1"
						minOccurs="1"></xsd:element>
					<xsd:element name="Text" type="xsd:string" maxOccurs="1"
						minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ErrorType">
				<xsd:sequence>
					<xsd:element name="Code" type="xsd:string" maxOccurs="1"
						minOccurs="1"></xsd:element>
					<xsd:element name="Text" type="xsd:string" maxOccurs="1"
						minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WarningsType">
				<xsd:sequence>
					<xsd:element name="Warning" type="tns:WarningType"
						minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ErrorsType">
				<xsd:sequence>
					<xsd:element name="Error" type="tns:ErrorType"
						minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="IrpfType">
				<xsd:sequence>
					<xsd:element name="Documento" type="xsd:string"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="Ejercicio" type="xsd:integer"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="RendimientoTrabajo" type="xsd:double"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="RendimientoCapitalMobiliario" type="xsd:double"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="RendimientoCapitalInmobiliario"
						type="xsd:double" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="ResultadoDeclaracion" type="xsd:double"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ConsultaIrpfRequest">
		<wsdl:part element="tns:ConsultaIrpf" name="parameters" />
	</wsdl:message>
	<wsdl:message name="ConsultaIrpfResponse">
		<wsdl:part element="tns:ConsultaIrpfResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="AgenciaTributariaService">
		<wsdl:operation name="ConsultaIrpf">
			<wsdl:input message="tns:ConsultaIrpfRequest" />
			<wsdl:output message="tns:ConsultaIrpfResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AgenciaTributariaServiceSOAP" type="tns:AgenciaTributariaService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ConsultaIrpf">
			<soap:operation
				soapAction="http://www.example.org/AgenciaTributariaService/ConsultaIrpf" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AgenciaTributariaService">
		<wsdl:port binding="tns:AgenciaTributariaServiceSOAP" name="AgenciaTributariaServiceSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
